[submodule "Noite-Sem-Lua"]
	path = Noite-Sem-Lua
	url = https://github.com/NicholasSch/Noite-Sem-Lua.git
[submodule "DoctorPlease-main"]
	path = DoctorPlease-main
	url = https://github.com/NicholasSch/DoctorPlease-main.git
[submodule "Tetris-in-Unity"]
	path = Tetris-in-Unity
	url = https://github.com/NicholasSch/Tetris-in-Unity.git
